

<div class="bg-medicare-blue text-white text-center text-sm">
    <div class="flex flex-wrap h-16 items-center justify-center">
        <a href="/gluisi/About" class="hover:underline hover:text-white mr-4">Copyright &copy; 2023 G.Luisi</a>
        <a href="https://unsplash.com/license" class="hover:underline  hover:text-white  mr-4">Images by Unsplashed</a>
        <a href="mailto:Giovanniluisi978@gmail.com" class="hover:underline  hover:text-white  mr-4">E-Mail</a>
        <a href="/UnderConstruction" class="hover:underline  hover:text-white  mr-4">Terms &amp; Conditions</a>
        <a href="/gluisi/Contact" class="hover:underline  hover:text-white ">Contact Us</a>
    </div>
</div>

@code {
}

