@page "/gluisi"

<PageTitle>G. Luisi</PageTitle>

<section class="bg-[url(https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWgelHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80)] bg-cover bg-top bg-no-repeat h-[50vh] flex items-center justify-center">
    <div class="text-center px-4">
        <h2 class="text-3xl sm:text-4xl lg:text-5xl font-bold text-white mb-4">
            Insurance and Accounting Services
        </h2>
        <p class="text-sm sm:text-base lg:text-xl text-white mb-10">
            Securing Your Future with Comprehensive Insurance and Accounting Solutions.
        </p>
        <a href="#"
           class="bg-medicare-blue rounded px-4 sm:px-12 py-3 text-sm font-medium text-white transition hover:bg-darken-medicare-blue">
            Get a Quote
        </a>
    </div>
</section>


@*all insurance service*@
<section class="bg-gray-100">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
                <img alt="Family Enjoying Life"
                     src="https://images.unsplash.com/photo-1475503572774-15a45e5d60b9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWgelHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
                     class="absolute inset-0 h-full w-full object-cover" />
            </div>
            <div class="lg:py-24 text-center">
                <h2 class="text-3xl font-bold text-medicare-blue sm:text-4xl">Peace of Mind</h2>

                <p class="mt-4 text-gray-600 text-lg">
                    Enjoy life knowing we have your insurance needs covered. From Home, Auto, and Commercial to Life and Medicare, we provide comprehensive insurance services tailored to your needs. Experience peace of mind as we protect what's important to you.
                </p>

                <a href="#"
                   class="mt-8 inline-block rounded bg-medicare-blue px-12 py-3 text-sm font-medium text-white transition hover:bg-darken-medicare-blue focus:outline-none focus:ring focus:ring-yellow-400">
                    Explore Our Services
                </a>
            </div>
        </div>
    </div>
</section>


@*medicare insurance*@
<section class="bg-gray-400">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-first lg:h-full">
                <img alt="Elderly Couple Enjoying Life"
                     src="https://images.unsplash.com/photo-1514415008039-efa173293080?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWgelHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1473&q=80"
                     class="absolute inset-0 h-full w-full object-cover" />
            </div>

            <div class="lg:py-24 lg:order-last text-center">
                <h2 class="text-3xl font-bold text-medicare-blue sm:text-4xl">Medicare, Handled</h2>

                <p class="mt-4 text-gray-600 text-lg">
                    Enjoy your golden years without worry, knowing that your Medicare insurance is fully taken care of. We handle the complexities so you can focus on what truly matters - your peace and happiness. Trust us to handle your Medicare insurance needs with expertise and care.
                </p>

                <a href="#"
                   class="mt-8 inline-block rounded bg-medicare-blue px-12 py-3 text-sm font-medium text-white transition hover:bg-darken-medicare-blue focus:outline-none focus:ring focus:ring-yellow-400">
                    Learn More
                </a>
            </div>
        </div>
    </div>
</section>


@*Unbrella*@
<section class="bg-gray-100">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
                <img alt="Person Under Umbrella"
                     src="https://images.unsplash.com/photo-1494017690426-08b6a0f5005e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWgelHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80"
                     class="absolute inset-0 h-full w-full object-cover" />
            </div>
            <div class="lg:py-24 text-center">
                <h2 class="text-3xl font-bold text-medicare-blue sm:text-4xl">Coverage for Every Rainy Day</h2>

                <p class="mt-4 text-gray-600 text-lg">
                    Rainy days happen, but with our comprehensive insurance coverages, you don't have to worry. From fire to auto insurance, we've got you covered. We offer a variety of insurance solutions to protect what matters most to you.
                </p>

                <a href="#"
                   class="mt-8 inline-block rounded bg-medicare-blue px-12 py-3 text-sm font-medium text-white transition hover:bg-darken-medicare-blue focus:outline-none focus:ring focus:ring-yellow-400">
                    Discover Our Coverages
                </a>
            </div>
        </div>
    </div>
</section>

@*accounting*@
<section class="bg-gray-400">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-first lg:h-full">
                <img alt="Accounting Services"
                     src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWgelHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80"
                     class="absolute inset-0 h-full w-full object-cover" />
            </div>
            <div class="lg:py-24 lg:order-last text-center">
                <h2 class="text-3xl font-bold text-medicare-blue sm:text-4xl">Full-Service Accounting</h2>

                <p class="mt-4 text-gray-600 text-lg">
                    Alongside our comprehensive insurance services, we offer a full range of accounting services. Our experienced team provides tax preparation, bookkeeping, and payroll services to help you keep your finances in order.
                </p>

                <a href="#"
                   class="mt-8 inline-block rounded bg-medicare-blue px-12 py-3 text-sm font-medium text-white transition hover:bg-darken-medicare-blue focus:outline-none focus:ring focus:ring-yellow-400">
                    Learn More
                </a>
            </div>
        </div>
    </div>
</section>



