@*@page "/settings"
@inject NavigationManager _navigationManager

<div class="flex flex-wrap justify-center items-center">
    <a href="/list-messages">
        <div class="w-80 h-64 rounded-lg overflow-hidden shadow-lg m-4 transition duration-500 ease-in-out transform hover:scale-110 cursor-pointer hover:shadow-2xl">
            <div class="bg-gray-100 h-20 flex justify-center items-center">
                <span class="text-lg font-bold text-gray-800">Testing Messages</span>
            </div>
            <div class="bg-white h-44 p-4 flex justify-center items-center">
                <span class="text-gray-800">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
        </div>
    </a>
    <a href="/api-key-input">
        <div class="w-80 h-64 rounded-lg overflow-hidden shadow-lg m-4 transition duration-500 ease-in-out transform hover:scale-110 cursor-pointer hover:shadow-2xl">
            <div class="bg-gray-100 h-20 flex justify-center items-center">
                <span class="text-lg font-bold text-gray-800">Testing API Key Input</span>
            </div>
            <div class="bg-white h-44 p-4 flex justify-center items-center">
                <span class="text-gray-800">This component will be intialized on start up and viewed in home page when user is not logged in.</span>
            </div>
        </div>
    </a>
    <a href="/setting1">
        <div class="w-80 h-64 rounded-lg overflow-hidden shadow-lg m-4 transition duration-500 ease-in-out transform hover:scale-110 cursor-pointer hover:shadow-2xl">
            <div class="bg-gray-100 h-20 flex justify-center items-center">
                <span class="text-lg font-bold text-gray-800">Setting 1</span>
            </div>
            <div class="bg-white h-44 p-4 flex justify-center items-center">
                <span class="text-gray-800">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
        </div>
    </a>
    <a href="/setting1">
        <div class="w-80 h-64 rounded-lg overflow-hidden shadow-lg m-4 transition duration-500 ease-in-out transform hover:scale-110 cursor-pointer hover:shadow-2xl">
            <div class="bg-gray-100 h-20 flex justify-center items-center">
                <span class="text-lg font-bold text-gray-800">Setting 1</span>
            </div>
            <div class="bg-white h-44 p-4 flex justify-center items-center">
                <span class="text-gray-800">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
        </div>
    </a>
    <a href="/setting1">
        <div class="w-80 h-64 rounded-lg overflow-hidden shadow-lg m-4 transition duration-500 ease-in-out transform hover:scale-110 cursor-pointer hover:shadow-2xl">
            <div class="bg-gray-100 h-20 flex justify-center items-center">
                <span class="text-lg font-bold text-gray-800">Setting 1</span>
            </div>
            <div class="bg-white h-44 p-4 flex justify-center items-center">
                <span class="text-gray-800">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
        </div>
    </a>
    <a href="/setting1">
        <div class="w-80 h-64 rounded-lg overflow-hidden shadow-lg m-4 transition duration-500 ease-in-out transform hover:scale-110 cursor-pointer hover:shadow-2xl">
            <div class="bg-gray-100 h-20 flex justify-center items-center">
                <span class="text-lg font-bold text-gray-800">Setting 1</span>
            </div>
            <div class="bg-white h-44 p-4 flex justify-center items-center">
                <span class="text-gray-800">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
        </div>
    </a>
</div>
<div class="flex justify-center">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => _navigationManager.NavigateTo("/"))">
        Go Back
    </MudButton>
</div>*@

