<html>
<body>
    <div class="w-full bg-gray-200 text-black">
        <!-- title -->
        <div class="text-center px-6 py-12 mb-6 bg-gray-300 border-b">
            <h1 class=" text-xl md:text-4xl pb-4">Thrift Boss</h1>
            <p class="leading-loose text-gray-dark">
                Catch up on the latest thrifts and updates.
            </p>
        </div>
        <!-- /title -->
        <div class="container max-w-4xl mx-auto md:flex items-start py-8 px-12 md:px-0">
            <!-- articles -->
            <div class="w-full md:pr-12 mb-12">
                <article class="mb-12">
                    <h2 class="mb-4">
                        <a href="/blog" class="text-black text-xl md:text-2xl no-underline hover:underline">
                            I've always been a thrift store kid.
                        </a>
                    </h2>
                    <div class="mb-4 text-sm text-gray-700">
                        by <a href="#" class="text-gray-700">LightningBits</a> on 8th April 2022
                        <span class="font-bold mx-1"> | </span>
                        <a href="#" class="text-gray-700">Thift Blog</a>
                        <span class="font-bold mx-1"> | </span>
                        <a href="#" class="text-gray-700">2 Comments</a>
                    </div>
                    <p class="text-gray-700 leading-normal">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                </article>

                <article class="mb-12">
                    <h2 class="mb-4">
                        <a href="#" class="text-black text-xl md:text-2xl no-underline hover:underline">
                            I believe that thrift is essential to well-ordered living.
                        </a>
                    </h2>

                    <div class="mb-4 text-sm text-gray-700">
                        by <a href="#" class="text-gray-700">LightningBits</a> on 8th April 2022
                        <span class="font-bold mx-1"> | </span>
                        <a href="#" class="text-gray-700">Thrift blog</a>
                        <span class="font-bold mx-1"> | </span>
                        <a href="#" class="text-gray-700">2 Comments</a>
                    </div>

                    <p class="text-gray-700 leading-normal">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                </article>

                <article class="mb-12">
                    <h2 class="mb-4">
                        <a href="#" class="text-black text-xl md:text-2xl no-underline hover:underline">
                            Beauty is when you can appreciate yourself. When you love yourself, that's when you're most beautiful.
                        </a>
                    </h2>

                    <div class="mb-4 text-sm text-gray-700">
                        by <a href="#" class="text-gray-700">LightningBits</a> on 8th April 2022
                        <span class="font-bold mx-1"> | </span>
                        <a href="#" class="text-gray-700">Thrift Blog</a>
                        <span class="font-bold mx-1"> | </span>
                        <a href="#" class="text-gray-700">2 Comments</a>
                    </div>

                    <p class="text-gray-700 leading-normal">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                </article>

                <article class="mb-12">
                    <h2 class="mb-4">
                        <a href="#" class="text-black text-xl md:text-2xl no-underline hover:underline">
                            A little bit of this a little bit of that.
                        </a>
                    </h2>

                    <div class="mb-4 text-sm text-gray-700">
                        by <a href="#" class="text-gray-700">LightningBits</a> on 8th April 2022
                        <span class="font-bold mx-1"> | </span>
                        <a href="#" class="text-gray-700">Thrift Blog</a>
                        <span class="font-bold mx-1"> | </span>
                        <a href="#" class="text-gray-700">2 Comments</a>
                    </div>

                    <p class="text-gray-700 leading-normal">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                </article>

                <div class="flex justify-between text-xs">
                    <a href="#" class="bg-indigo-600 text-white no-underline py-2 px-3 rounded">Previous</a>
                    <a href="#" class="bg-indigo-600 text-white no-underline py-2 px-3 rounded">Next</a>
                </div>
            </div>
            <!--/ articles -->
            <!-- sidebar -->
            <div class="w-full md:w-64">

                <aside class="rounded shadow overflow-hidden mb-6">
                    <h3 class="text-sm bg-indigo-600 text-gray-200 py-3 px-4 border-b">Categories</h3>

                    <div class="bg-black p-4">
                        <ul class="list-reset leading-normal">
                            <li><a href="#" class="text-gray-darkest text-sm">Uncategorised</a></li>
                            <li><a href="#" class="text-gray-darkest text-sm">Thrifting &amp; Flee markets</a></li>
                            <li><a href="#" class="text-gray-darkest text-sm">Thrift for Life</a></li>
                            <li><a href="#" class="text-gray-darkest text-sm">Seamstress Tools</a></li>
                        </ul>
                    </div>
                </aside>

                <aside class="rounded shadow overflow-hidden mb-6">
                    <h3 class="text-sm bg-indigo-600 text-gray-200 py-3 px-4 border-b">Latest Posts</h3>

                    <div class="bg-black p-4">
                        <ul class="list-reset leading-normal">
                            <li><a href="#" class="text-gray-darkest text-sm">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#" class="text-gray-darkest text-sm">Sit amet, consectetur adipisicing elit.</a></li>
                            <li><a href="#" class="text-gray-darkest text-sm">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#" class="text-gray-darkest text-sm">Sit amet, consectetur adipisicing elit.</a></li>
                        </ul>
                    </div>
                </aside>

            </div>
            <!-- /sidebar -->

        </div>

    </div>
    <!-- /blog -->
    <!-- footer -->
    <footer class="w-full bg-white px-6 border-t">
        <div class="container mx-auto max-w-4xl py-6 flex flex-wrap md:flex-no-wrap justify-between items-center text-sm">
            &copy;2019 Your Company. All rights reserved.
            <div class="pt-4 md:p-0 text-center md:text-right text-xs">
                <a href="#" class="text-black no-underline hover:underline">Privacy Policy</a>
                <a href="#" class="text-black no-underline hover:underline ml-4">Terms &amp; Conditions</a>
                <a href="#" class="text-black no-underline hover:underline ml-4">Contact Us</a>
            </div>
        </div>
    </footer>
    <!-- /footer -->


</body>
</html>

@code {

}

