
<div class="dark:bg-black bg-gray-300 p-4 grid grid-cols-1 md:grid-cols-4 md:grid-rows-2 gap-4 md:h-screen">
    <div class="dark:bg-black dark:text-white text-gray-700 text-center md:col-span-2 flex items-center justify-center">
        <div class="relative z-10 p-12">
            <div class="uppercase text-sm text-gray-700 tracking-widest">don't'</div>
            <h3 class="font-display font-semibold text-3xl mt-2">Can't be Evil</h3>
            <p class="mt-3 mx-auto max-w-md">Whether in the sun or on the couch, Buying old is key to maintaining a happy planet.</p>
            <a href="#" class="inline-block bg-indigo-500 text-white text-sm tracking-widest font-heading px-8 py-4 mt-6">Read more</a>
        </div>
    </div>
    <div class="h-64 md:h-auto md:col-span-2 md:row-span-2 relative">
        <img src="https://images.unsplash.com/photo-1515564242578-bbea07d21cbd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjB8UUhlWlB5T3BwY2N8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60" class="absolute inset-0 w-full h-full object-cover">
    </div>
    <div class="h-64 md:h-auto col-span-1 row-span-1 relative">
        <img src="https://images.unsplash.com/photo-1579298245158-33e8f568f7d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8N3xRSGVaUHlPcHBjY3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60" class="absolute inset-0 w-full h-full object-cover">
    </div>
    <div class="h-64 md:h-auto col-span-1 row-span-1 relative">
        <img src="https://images.unsplash.com/photo-1513188732907-5f732b831ca8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OHxRSGVaUHlPcHBjY3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60" class="absolute inset-0 w-full h-full object-cover">
    </div>
</div>

@code {

}

