
<div class="bg-black-200 text-white no-underline text-center text-md py-8">
    <p>
        <a href="#" class="hover:underline"> Copyright &copy; 2022 LightningBits </a>
        <a href="#" class="hover:underline ml-4">Images by Unsplashed</a>
        <a href="#" class="hover:underline ml-4">Privacy Policy</a>
        <a href="#" class="hover:underline ml-4">Terms &amp; Conditions</a>
        <a href="#" class="hover:underline ml-4">Contact Us</a>
    </p>
</div>

@code {

}

