
<div class="max-w-5xl mx-auto pt-20 p-8 flex justify-end">
    <a href="/productsHome">
        <h1 class="font-display-italic font-extrabold text-5xl md:text-6xl italic leading-none mb-6 max-w-xl">Products.</h1>
    </a>
    @*<MudMenu Label="Sort Products by:" Variant="Variant.Filled" EndIcon="@Icons.Filled.ArrowDropDown" IconColor="Color.Primary" FullWidth="true" Dense="true">
        <header class="font-bold">Sort Products by:</header>
        <MudMenuItem Href="/productsByFav">Favorites</MudMenuItem>
        <MudMenuItem Href="/Sale!">On Sale!</MudMenuItem>
        <MudMenuItem Href="/AllProducts">All Products</MudMenuItem>
    </MudMenu>*@
</div>

@code {

}

