<div class="dark:bg-black bg-gray-300 p-4 grid grid-cols-1 md:grid-cols-4 md:grid-rows-2 gap-4 md:h-screen">
    <div class="h-64 md:h-auto md:col-span-2 md:row-span-2 relative">
        <img src="https://images.unsplash.com/photo-1640763502425-7668dc1e4023?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="absolute inset-0 w-full h-full object-cover">
    </div>
    <div class="dark:text-white text-gray-700 text-center md:col-span-2 flex items-center justify-center">
        <div class="relative z-10 p-12">
            <div class="uppercase text-sm text-gray-700 tracking-widest">Only the best </div>
            <h3 class="font-display font-semibold text-3xl mt-2">Microsoft Services</h3>
            <p class="mt-3 mx-auto max-w-md">We're humans too and we understand that good code should provide security in the short and long run.</p>
            <a href="#" class="inline-block bg-indigo-500 text-white text-sm tracking-widest font-heading px-8 py-4 mt-6">Shop now</a>
        </div>
    </div>
    <div class="h-64 md:h-auto col-span-1 row-span-1 relative">
        <img src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80" class="absolute inset-0 w-full h-full object-cover">
    </div>
    <div class="h-64 md:h-auto col-span-1 row-span-1 relative">
        <img src="https://images.unsplash.com/photo-1488229297570-58520851e868?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80" class="absolute inset-0 w-full h-full object-cover">
    </div>
</div>


@code {

}

