@page "/ProductDetails/{ProductId:int}"


@inject IProductService _productService
@inject MudBlazor.ISnackbar snackBar


@if (IsProcessing)
{
    <div class="text-center">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </div>
}
else
{
    <div class="min-f-screen w-full p-2 flex justify-center items-center">
                <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                    <header class="block text-3xl text-black font-bold text-center mb-2">@ECommerceProduct.Name</header>
                    <p class="text-small text-indigo-600 ">Category: @ECommerceProduct.Category.Name</p>
                    <img src="@ECommerceProduct.ImageUrl" class="block w-full" />
                    <div class="inline-flex mt-4 text-black">
                        <div class="flex justify-center">
                            <div class="mb-3 xl:w-96">
                                <select class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal  text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
                                    <option selected>Colors</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <MudMenu FullWidth="true">
                            <ActivatorContent>
                                <MudButton Variant="Variant.Filled" Color="Color.Dark">--Sizes--</MudButton>
                            </ActivatorContent>
                            <ChildContent>
                                <MudMenuItem>Profile</MudMenuItem>
                                <MudMenuItem>Theme</MudMenuItem>
                                <MudMenuItem>Usage</MudMenuItem>
                                <MudMenuItem>Sign Out</MudMenuItem>
                            </ChildContent>
                        </MudMenu>
                        <MudMenu FullWidth="true">
                            <ActivatorContent>
                                <MudButton Variant="Variant.Filled" Color="Color.Dark">--Colors--</MudButton>
                            </ActivatorContent>
                            <ChildContent>
                                @foreach (var productSizes in ECommerceProduct.ECommerceProductPrices)
                                {
                                    <MudMenuItem>Profile</MudMenuItem>
                                }
                            </ChildContent>
                        </MudMenu>
                        <MudMenu FullWidth="true">
                            <ActivatorContent>
                                <MudButton Variant="Variant.Filled" Color="Color.Dark">I am a button</MudButton>
                            </ActivatorContent>
                            <ChildContent>
                                <MudMenuItem>Profile</MudMenuItem>
                                <MudMenuItem>Theme</MudMenuItem>
                                <MudMenuItem>Usage</MudMenuItem>
                                <MudMenuItem>Sign Out</MudMenuItem>
                            </ChildContent>
                        </MudMenu>
                        <MudMenu FullWidth="true">
                            <ActivatorContent>
                                <MudButton Variant="Variant.Filled" Color="Color.Dark">I am a button</MudButton>
                            </ActivatorContent>
                            <ChildContent>
                                <MudMenuItem>Profile</MudMenuItem>
                                <MudMenuItem>Theme</MudMenuItem>
                                <MudMenuItem>Usage</MudMenuItem>
                                <MudMenuItem>Sign Out</MudMenuItem>
                            </ChildContent>
                        </MudMenu>
                    </div>
                    <p class="h-48 min-h-0 mt-2 border-double border-4 border-sky-50 text-center text-black leading-relaxed text-md">Description: @((MarkupString)ECommerceProduct.Description)</p>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Back to Products</MudButton>
                </div>
            </div>
  
}




@code {
    [Parameter]
    public int ProductId { get; set; }
    public ProductDTO ECommerceProduct { get; set; } = new();
    public bool IsProcessing { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        IsProcessing = true;
        ECommerceProduct = await _productService.Get(ProductId);
        IsProcessing = false;
    }


}

