@page "/"

<PageTitle>LightningBits.net</PageTitle>
    <div class="py-24 px-6">
        @if (showTitle)
        {
            <div class="max-w-5xl mx-auto flex justify-center">
                <h1 class="font-display-italic font-extrabold text-5xl md:text-6xl italic leading-none max-w-xl animate__animated animate__slideInRight duration-500">LightningBits.net</h1>
            </div>
        }
        <img src="/img/lb_logo.png" class="w-64 pb-5 pt-10 mx-auto animate__animated animate__bounce animate__slow duration-2s ease-in-out">
        @if (showContent)
        {
            <div>
                <div class="items-center justify-center mx-auto px-2">
                    <div class="text-center p-4 animate__animated animate__slideInRight duration-500">
                        <h2 class="text-3xl font-medium">Empower Your Self-Sovereignty</h2>
                        <p>Welcome to our Ecommerce and Blog platform,</p>
                        <p>where individuals are empowered to take control of their own commerce and knowledge</p>
                    </div>
                    <div class="flex flex-wrap w-full justify-center">
                        <a href="/ThriftBoss" class="inline-block bg-yellow-500 px-4 py-2 rounded-sm text-black hover:bg-yellow-600 mx-4 animate__animated animate__bounce animate__slow duration-2s ease-in-out animate__fadeIn animate__animation-delay-7s">My Demo Shop</a>
                        <a href="/portfolio" class="inline-block  bg-yellow-500 px-4 py-2 rounded-sm text-black hover:bg-yellow-600 mx-4 animate__animated animate__bounce animate__slow duration-2s ease-in-out animate__fadeIn animate__animation-delay-7s">My Portfolio</a>
                    </div>
                    <div class="flex flex-wrap w-full justify-center mt-5">
                        <a href="@($"{LocalHost}/Home")" class="inline-block bg-yellow-500 px-4 py-2 rounded-sm text-black hover:bg-yellow-600 mx-4 animate__animated animate__bounce animate__slow duration-2s ease-in-out animate__fadeIn animate__animation-delay-7s">My Blog</a>
                        <a href="/portfolio" class="inline-block bg-yellow-500 px-4 py-2 rounded-sm text-black hover:bg-yellow-600 mx-4 animate__animated animate__bounce animate__slow duration-2s ease-in-out animate__fadeIn animate__animation-delay-7s">Hire Me</a>
                    </div>
                </div>
            </div>
        }
    </div>
@code {

    private string LocalHost = "https://myblog.lightningbits.net";
    private bool showContent = false;
    private bool showTitle = false;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        showContent = true;
        showTitle = true;
    }
}
