
@*<form class="bg-gray-200 rounded-md shadow-lg p-4 mx-4 md:mx-auto md:w-full">
    <div class="flex">
        <input type="text" class="border-none w-full focus:outline-none bg-transparent" placeholder="Enter text...">
        <button type="submit" class="bg-gray-300 text-gray-200 p-2 rounded-md ml-2 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="currentColor" transform="rotate(45)">
                <path d="M12 2L3 22h18zM11 12l-2.586-2.586L11 6.828zm1.586-.414L13 9.172l-1.586 1.586zm0 1.172l1.586 1.586L13 15.172zm-2.586 2.244L8.828 13l1.172-1.172z" />
            </svg>
        </button>
    </div>
</form>







@code {

}*@









