<div class="dark:bg-black text-center py-12">
    <a href="#" class="inline-block bg-indigo-500 text-white text-sm tracking-widest font-heading px-8 py-4">Place holder for blog carousel</a>
</div



@code {

}

