<div class="dark:bg-black bg-gray-300 p-4 grid grid-cols-1 md:grid-cols-4 md:grid-rows-2 gap-4 md:h-screen">
    <div class="dark:bg-black dark:text-white text-gray-700 text-center md:col-span-2 flex items-center justify-center">
        <div class="relative z-10 p-12">
            <div class="uppercase text-sm text-gray-700 tracking-widest">don't'</div>
            <h3 class="font-display font-semibold text-3xl mt-2">Can't be Evil</h3>
            <p class="mt-3 mx-auto max-w-md">Whether in the sun or on the couch, hydration is key to maintaining happy code.</p>
            <a href="#" class="inline-block bg-indigo-500 text-white text-sm tracking-widest font-heading px-8 py-4 mt-6">Read more</a>
        </div>
    </div>
    <div class="h-64 md:h-auto md:col-span-2 md:row-span-2 relative">
        <img src="https://images.unsplash.com/photo-1510511459019-5dda7724fd87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="absolute inset-0 w-full h-full object-cover">
    </div>
    <div class="h-64 md:h-auto col-span-1 row-span-1 relative">
        <img src="https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="absolute inset-0 w-full h-full object-cover">
    </div>
    <div class="h-64 md:h-auto col-span-1 row-span-1 relative">
        <img src="https://images.unsplash.com/photo-1461685265823-f8d5d0b08b9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="absolute inset-0 w-full h-full object-cover">
    </div>
</div>

@code {

}

