<div class="dark:bg-black p-4 grid grid-cols-1 md:grid-cols-5 grid-rows-2 gap-4">
    <a href="#" class="relative block bg-black text-white md:col-span-2">
        <div class="relative z-10 p-12">
            <h3 class="font-display text-2xl">Best Sellers</h3>
            <p class="text-sm mt-2">Lorem ipsum dolor sit amet, consectetur.</p>
            <div class="inline-block bg-gray-500 text-black text-sm tracking-widest font-heading px-8 py-4 mt-6 py-3 px-8 uppercase font-display font-thin tracking-wide text-xs hover:bg-black hover:text-indigo-600 hover:border-indigo-600">Shop now</div>
        </div>
        <img src="https://images.unsplash.com/photo-1617042375876-a13e36732a04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80" class="absolute inset-0 w-full h-full object-cover opacity-75">
    </a>
    <a href="#" class="relative block bg-black text-white md:col-span-3 lg:col-span-1">
        <div class="relative z-10 p-12">
            <h3 class="font-display text-2xl">Limited</h3>
            <p class="text-sm mt-2">Lorem ipsum dolor sit amet, consectetur.</p>
            <div class="inline-block bg-gray-500 text-black text-sm tracking-widest font-heading px-8 py-4 mt-6 py-3 px-8 uppercase font-display font-thin tracking-wide text-xs hover:bg-black hover:text-indigo-600 hover:border-indigo-600">Shop now</div>
        </div>
        <img src="https://images.unsplash.com/photo-1624571409108-e9a41746af53?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80" class="absolute inset-0 w-full h-full object-cover opacity-75">
    </a>
    <a href="#" class="relative block bg-black text-white md:col-span-3 lg:col-span-2 lg:row-span-2">
        <div class="relative z-10 p-12">
            <h3 class="font-display text-2xl">New In</h3>
            <p class="text-sm mt-2">Lorem ipsum dolor sit amet, consectetur.</p>
            <div class="inline-block bg-gray-500 text-black text-sm tracking-widest font-heading px-8 py-4 mt-6 py-3 px-8 uppercase font-display font-thin tracking-wide text-xs hover:bg-black hover:text-indigo-600 hover:border-indigo-600">Shop now</div>
        </div>
        <img src="https://images.unsplash.com/photo-1581094651181-35942459ef62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="absolute inset-0 w-full h-full object-cover opacity-75">
    </a>
    <a href="#" class="relative block bg-black text-white md:col-span-2 lg:col-span-1">
        <div class="relative z-10 p-12">
            <h3 class="font-display text-2xl">Sale</h3>
            <p class="text-sm mt-2">Lorem ipsum dolor sit amet, consectetur.</p>
            <div class="inline-block bg-gray-500 text-black text-sm tracking-widest font-heading px-8 py-4 mt-6 py-3 px-8 uppercase font-display font-thin tracking-wide text-xs hover:bg-black hover:text-indigo-600 hover:border-indigo-600">Shop now</div>
        </div>
        <img src="https://images.unsplash.com/photo-1580983561252-463dca6ad904?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="absolute inset-0 w-full h-full object-cover opacity-75">
    </a>
    <a href="#" class="relative block bg-black text-white md:col-span-5 lg:col-span-2">
        <div class="relative z-10 p-12">
            <h3 class="font-display text-2xl">Half Price</h3>
            <p class="text-sm mt-2">Lorem ipsum dolor sit amet, consectetur.</p>
            <div class="inline-block bg-gray-500 text-black text-sm tracking-widest font-heading px-8 py-4 mt-6 py-3 px-8 uppercase font-display font-thin tracking-wide text-xs hover:bg-black hover:text-indigo-600 hover:border-indigo-600">Shop now</div>
        </div>
        <img src="https://images.unsplash.com/photo-1587377838789-968194a7cc88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2358&q=80" class="absolute inset-0 w-full h-full object-cover opacity-75">
    </a>
</div>

@code {

}

