@page "/Main"



<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-4xl font-bold mb-4">Directory</h1>
        <p class="text-xl">Home of future directory</p>
        <BlogCart.Pages.Shared.UnderConstruction></BlogCart.Pages.Shared.UnderConstruction>

    </div>
</div>

@code {

}

