
<div class="dark:text-indigo text-center text-md pb-5 py-8">
    <p>
        <a href="@($"{Constants.MyBlogHost}/About")" class="hover:underline hover:text-indigo-400 "> Copyright &copy; 2022 LightningBits </a>
        <a href="https://unsplash.com/license" class="hover:underline hover:text-indigo-400  ml-4">Images by Unsplashed</a>
        <a href="/UnderConstruction" class="hover:underline hover:text-indigo-400  ml-4">Privacy Policy</a>
        <a href="/UnderConstruction" class="hover:underline hover:text-indigo-400  ml-4">Terms &amp; Conditions</a>
        <a href="@($"{Constants.MyBlogHost}/Contact")" class="hover:underline hover:text-indigo-400  ml-4">Contact Us</a>
    </p>
</div>

@code {
}

