@page "/category"

<PageTitle>Welcome Admin</PageTitle>

<div class="container bg-gray-200 w-full mx-auto">
    <div>
        <h1 class="font-serif text-3xl font-bold bg-black"> Post Index</h1>
        <div class="max-w-md mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
            <a href="category/create" class="inline-block bg-gray-600 hover:bg-black text-white text-sm tracking-widest font-heading px-8 py-4">New Category</a>
            <a href="/" class="inline-block bg-gray-100  hover:bg-black text-indigo-500 text-sm tracking-widest font-heading px-8 py-4">Home</a>
            <br />
        </div>
       
    </div>
</div>



@code {


}

