@namespace BlogCart.Shared.MainLayouts

<MudDrawer @bind-Open="SideBarOpen" Width="400px" Elevation="10">
    <MudDrawerHeader>
        <MudText Typo="Typo.h3" Color="Color.Default" Style="font-family: 'Allura', cursive; margin-top: 15px; margin-left: 5px;">StefMancia.com</MudText>
    </MudDrawerHeader>
    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    <div class="text-center">
        <a href="/stefmancia/contact" class="inline-block mx-2 py-2 px-4 rounded-lg text-gray-200 hover:text-gray-600 hover:bg-gray-100 transition duration-300">Contact</a>
        <a href="/stefmancia/about" class="inline-block mx-2 py-2 px-4 rounded-lg text-gray-200 hover:text-gray-600 hover:bg-gray-100 transition duration-300">About</a>
    </div>
    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    <div class="mt-2">
        <a href="/stefmancia/portfolio">
            <h3 class="text-xl text-center text-white text-bold">Featured publishings</h3>
        </a>
        <ul class="mt-4 max-h-96 pl-2 pr-2 overflow-y-auto">
            <li class="py-2">
                <button class="w-full py-2 hover:bg-gray-500">
                    "Title 1: An Overview of Medical Writing"
                </button>
            </li>
            <li class="py-2">
                <button class="w-full py-2 hover:bg-gray-500">
                    "Title 2: The Role of a Medical Writer in Pharmaceutical Industry"
                </button>
            </li>
            <li class="py-2">
                <button class="w-full py-2 text-left hover:bg-gray-500  hover:text-white">
                    "Title 3: A Guide to Effective Medical Research"
                </button>
            </li>
            <li class="py-2">
                <button class="w-full py-2 hover:bg-gray-500  hover:text-white">
                    "Title 4: Medical Writing: Ethical Considerations"
                </button>
            </li>
            <li class="py-2">
                <button class="w-full py-2 hover:bg-gray-500 hover:text-white">
                    "Title 5: Bridging the Gap: Medical Writing for Non-Medical Audience"
                </button>
            </li>
            <li class="py-2">
                <button class="w-full py-2 text-left hover:bg-gray-500  focus:bg-blue-500">
                    "Title 1: An Overview of Medical Writing"
                </button>
            </li>
            <li class="py-2">
                <button class="w-full py-2 hover:bg-gray-500">
                    "Title 2: The Role of a Medical Writer in Pharmaceutical Industry"
                </button>
            </li>
            <li class="py-2">
                <button class="w-full py-2 hover:bg-gray-500  hover:text-white">
                    "Title 3: A Guide to Effective Medical Research"
                </button>
            </li>
            <li class="py-2">
                <button class="w-full py-2 hover:bg-gray-500 hover:text-white">
                    "Title 4: Medical Writing: Ethical Considerations"
                </button>
            </li>
            <li class="py-2">
                <button class="w-full py-2 hover:bg-gray-500 hover:text-white">
                    "Title 5: Bridging the Gap: Medical Writing for Non-Medical Audience"
                </button>
            </li>
        </ul>
    </div>
    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    <div class="text-center mt-5">logo here</div>
    <div class="absolute bottom-0 left-0 right-0 p-4 flex justify-center">
        <button class="px-4 py-2 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900  hover:bg-gray-300 transition duration-300" @onclick="() => SideBarOpen = false">Close</button>
    </div>

</MudDrawer>



@code {
    [Parameter]
    public bool SideBarOpen { get; set; }
}