@namespace BlogCart.Shared.MainLayouts

<div class="dark:text-indigo text-center text-md pb-5 py-8">
    <p>
        <a href="/stefmancia/About" )" class="hover:underline hover:text-indigo-400 "> Copyright &copy; 2022 LightningBits </a>
        <a href="https://unsplash.com/license" class="hover:underline hover:text-indigo-400  ml-4">Images by Unsplashed</a>
        <MudNavLink Href="mailto:stefmanciamorel@protonmail.com" Icon="@Icons.Material.Filled.Email" Match="NavLinkMatch.Prefix">E-Mail</MudNavLink>
        <a href="/UnderConstruction" class="hover:underline hover:text-indigo-400  ml-4">Terms &amp; Conditions</a>
        <a href="/stefmancia/Contact" )" class="hover:underline hover:text-indigo-400  ml-4">Contact Us</a>
    </p>
</div>

@code {
}

