<div class="flex flex-col items-center">
    <h1 class="text-xl md:text-4xl pb-2"> Exploring the Power of C# and .NET Blazor</h1>
    <img src="https://images.unsplash.com/photo-1506452819137-0422416856b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3173&q=80" class="w-full lg:w-3/4 h-64 md:h shadow-lg mx-auto object-cover" />
</div>


@code {

}

