
<div class="text-center text-md pb-5 py-8">
    <p>
        <a href="@($"{LocalHost}/About")" class="hover:underline hover:text-indigo-400 "> Copyright &copy; 2022 LightningBits </a>
        <a href="https://unsplash.com/" class="hover:underline hover:text-indigo-400  ml-4">Images by Unsplashed</a>
        <a href="/UnderConstruction" class="hover:underline hover:text-indigo-400  ml-4">Privacy Policy</a>
        <a href="/UnderConstruction" class="hover:underline hover:text-indigo-400  ml-4">Terms &amp; Conditions</a>
        <a href="@($"{LocalHost}/Contact")" class="hover:underline hover:text-indigo-400  ml-4">Contact Us</a>
    </p>
</div>

@code {

    public string LocalHost = "https://e-commerceclient.azurewebsites.net";

}

