@inject IBlogRepository _blogRepository

<div class="w-full md:w-64">
    <aside class="rounded shadow-lg overflow-hidden mb-6">
        <h3 class="text-sm text-white bg-black py-3 px-4">Latest Post</h3>
        <div class="p-2 overflow-y-auto">
            @foreach (var blog in Blogs.OrderByDescending(u => u.DateCreated).Take(5))
            {
                <ul class="list-reset leading-normal ">
                    <li class="mb-4">
                        <a href="/Page/@blog.Id" class="text-sm no-underline hover:underline">
                            @((MarkupString)blog.Name)
                            <p class="text-sm">@blog.LastUpdated.ToLocalTime().ToString("MM/dd/yyyy")</p>
                        </a>
                    </li>
                </ul>
            }
        </div>
    </aside>

    <aside class="rounded shadow-lg overflow-hidden mb-6">
        <h3 class="text-sm text-white bg-black py-3 px-4">Featured</h3>
        <div class="p-2 overflow-y-auto">
            @*@foreach (var blog in Blogs.Where(u => u.Featured == true))*@
            @foreach (var blog in Blogs.Where(u => u.Featured == true).OrderByDescending(u => u.LastUpdated).Take(5))
            {
                <ul class="list-reset leading-normal">
                    <li class="mb-4">
                        <a href="/Page/@blog.Id" class="text-sm no-underline hover:underline">
                            @((MarkupString)blog.Name)
                        </a>
                    </li>
                </ul>
            }
        </div>
    </aside>
</div>


@code {

    private IEnumerable<BlogDTO> Blogs { get; set; } = new List<BlogDTO>();

    protected override async Task OnInitializedAsync()
    {
        Blogs = await _blogRepository.GetAll();
    }
}

