@namespace BlogCart.Shared.MainLayouts
@inject MudBlazor.ISnackbar snackBar

<MudDrawer @bind-Open="SideBarOpen" Width="400px" Elevation="10">
        <div class="justify-center text-center text-bold">
            <MudText Typo="Typo.h5" Color="Color.Default" Style="margin-top: 15px; text-align: center;">G. Luisi</MudText>
        </div>
    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    <div class="w-full max-w-xs mx-auto">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    Name
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="John Doe" disabled>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Email
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="example@email.com" disabled>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="insurance-type">
                    Insurance Type
                </label>
                <select class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="insurance-type">
                    <option>Home Insurance</option>
                    <option>Auto Insurance</option>
                    <option>Commercial Insurance</option>
                    <option>Life Insurance</option>
                    <option>Medicare Insurance</option>
                    <option>Tax service</option>
                </select>
            </div>
            <div class="text-center">
                <button class="bg-medicare-blue hover:bg-darken-medicare-blue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" @onclick="ShowMessage">
                    Get a Quote
                </button>
            </div>
        </form>
    </div>
    <div class="text-center mt-5">your logo here</div>
    <div class="absolute bottom-0 left-0 right-0 p-4 flex justify-center">
        <button class="px-4 py-2 rounded-lg bg-gray-200 text-gray-800 hover:text-gray-900  hover:bg-gray-300 transition duration-300" @onclick="() => SideBarOpen = false">Close</button>
    </div>
</MudDrawer>


@code {
    [Parameter]
    public bool SideBarOpen { get; set; }

    void ShowMessage()
    {
        snackBar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
        snackBar.Configuration.PreventDuplicates = false;
        snackBar.Configuration.NewestOnTop = false;
        snackBar.Configuration.VisibleStateDuration = 10000;

        snackBar.Add(
            @"Sorry, this form is currently unavailable. Please email me directly at 
            <a href='mailto:Giovanniluisi978@gmail.com' target='_blank'>Email</a> 
            to get a quote",
            Severity.Info,
            config => config.ShowCloseIcon = true);
    }


}