@using Microsoft.AspNetCore.Components.Web
@namespace ECommerce_Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- HTML Meta Tags -->
    @*<title>BlogCart</title>
    <meta name="description" content="LightningBits is a platform that specializes in connecting like-minded individuals worldwide through its user-friendly eCommerce and Blogs built using .NET Core Blazor technologies.
          Not only does it offer a valuable tool for growing and empowering self-sovereignty, but it also serves as a portfolio for showcasing your work.
          Join LightningBits, Empower your self-sovereignty and grow with us today.">*@

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://myblog.lightningbits.net/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="BlogCart">
    <meta property="og:description" content="LightningBits is a platform that specializes in connecting like-minded individuals worldwide through its user-friendly eCommerce and Blogs built using .NET Core Blazor technologies.
          Not only does it offer a valuable tool for growing and empowering self-sovereignty, but it also serves as a portfolio for showcasing your work.
          Join LightningBits, Empower your self-sovereignty and grow with us today.">
    <meta property="og:image" content="https://myblog.lightningbits.net/img/lb_logoLight.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="myblog.lightningbits.net">
    <meta property="twitter:url" content="https://myblog.lightningbits.net/">
    <meta name="twitter:title" content="BlogCart">
    <meta name="twitter:description" content="LightningBits is a platform that specializes in connecting like-minded individuals worldwide through its user-friendly eCommerce and Blogs built using .NET Core Blazor technologies.
          Not only does it offer a valuable tool for growing and empowering self-sovereignty, but it also serves as a portfolio for showcasing your work.
          Join LightningBits, Empower your self-sovereignty and grow with us today.">
    <meta name="twitter:image" content="https://myblog.lightningbits.net/img/lb_logoLight.png">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <base href="~/" />
    <link href="app.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/Syncfusion.Blazor.Themes/tailwind.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/bba4017977.js"></script>

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>

</body>
</html>

