@page "/"
@page "/AdminPanel"
@attribute [Authorize(Roles = SD.Role_Admin)]


<AuthorizeView>
    <Authorized>
        <PageTitle>@context.User.Identity.Name</PageTitle>

        <div class=" bg-black container mx-auto flex flex-wrap pb-10">
            <div class="overflow-scroll h-100 max-h-full md:max-h-screen w-full md:w-full lg:w-1/2 px-6 mb-12">
                <ProductList></ProductList>
            </div>
            <div class="w-full h-100 md:w-full lg:w-1/2 px-6 mb-12">
                <ProductUpsert></ProductUpsert>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/2 px-6 mb-12">
                <CategoryList></CategoryList>
            </div>
            <div class=" w-full md:w-1/2 lg:w-1/2 px-6 mb-12 ">
                <CategoryUpsert></CategoryUpsert>
            </div>
        </div>
        <_FooterDarkGray></_FooterDarkGray>
    </Authorized>
    <NotAuthorized>
        <PageTitle>Please Sign in</PageTitle>
        <div class="text-white max-w-5xl mx-auto p-8 py-24 flex justify-start items-center">
            <div class="flex-1">
                <h1 class="font-display-italic font-extrabold text-5xl md:text-6xl italic leading-none mb-12">Please Log-in or register</h1>
            </div>
            <div class="hidden md:block w-56">
                <MudButton Href="Identity/Account/login" StartIcon="@Icons.Filled.Login" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary">Login now!</MudButton>
            </div>
        </div>
        <img src="https://images.unsplash.com/photo-1491944799262-a5be522e2300?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2068&q=80" class="w-full h-64 object-cover" />
    </NotAuthorized>
</AuthorizeView>


@code {
    string Name = "LightningBits";
}

