@page "/"
@page "/AdminPanel"


<PageTitle>Hello @Name</PageTitle>

<div class=" bg-black container mx-auto flex flex-wrap pb-10">
    <div class="overflow-scroll h-100 max-h-full md:max-h-screen w-full md:w-full lg:w-1/2 px-6 mb-12">
        <ProductList></ProductList>
    </div>
    <div class="w-full h-100 md:w-full lg:w-1/2 px-6 mb-12">
        <ProductUpsert></ProductUpsert>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/2 px-6 mb-12">
        <CategoryList></CategoryList>
    </div>
    <div class=" w-full md:w-1/2 lg:w-1/2 px-6 mb-12 ">
        <CategoryUpsert></CategoryUpsert>
    </div>
</div>
<_FooterDarkGray></_FooterDarkGray>


@code {
    string Name = "LightningBits";
}

