
<body class="font-sans">

    <div class="w-full h-screen relative text-white">
        <img src="https://images.unsplash.com/photo-1581915649317-41fc6eb9597d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" class="absolute top-0 left-0 w-full h-full object-cover" />
        <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center text-center px-12">
            <div>
                <h1 class="text-3xl font-bold md:text-6xl leading-tight mb-16">{"Hello <br class="hidden md:block" />World"};</h1>
                <a href="#" class="border text-white  bg-indigo-500 border-black py-4 px-8 hover:bg-white hover:text-black">Click me</a>
            </div>
        </div>
    </div>
    <div class="py-24 px-6 bg-gray-200 text-black dark:bg-black dark:text-white ">
        <div class="max-w-6xl mx-auto mb-12">
            <h2 class="mx-auto text-center text-2xl md:text-5xl max-w-3xl leading-tight mb-12">Professional Full Stack .NET Developer Committed to Creating User-Friendly Websites.</h2>
            <p class="mb-6 mx-auto max-w-xlg text-center text-lg leading-relaxed">
                Welcome to my portfolio! My name is LightningBits and I am a full stack .NET developer specializing in web design. I have a passion for creating intuitive and visually appealing websites that provide a seamless user experience.

                With a strong foundation in .NET development, I am skilled in using languages such as C# and ASP.NET to create dynamic and responsive websites. I also have experience with front-end development technologies such as HTML, CSS, and Blazor, allowing me to create beautiful and functional websites that meet the needs of my clients.

                I am a detail-oriented and proactive developer, always striving to stay up to date with the latest technologies and best practices in the field. Whether working on a small project or a large-scale application, I take pride in delivering high-quality results on time and on budget.

                Thank you for considering me for your web development needs. I would love the opportunity to work with you and bring your vision to life!
            </p>
            <p class="mx-auto max-w-lg text-center leading-relaxed">check out my Repository on <a href="https://github.com/LightningBit/E-Commerce" class="text-indigo-500">GitHub</a></p>
        </div>
        <div class="max-w-5xl mx-auto flex flex-wrap items-start">
            <div class="w-full md:w-1/2 p-4 mb-12">
                <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?w=800" class="block w-full h-auto mb-12" />
                <a href="#" class="block text-2xl text-white text-center mb-6">About Us</a>
                <p class="mb-6 text-center leading-relaxed text-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <a href="#" class="block text-indigo-500 text-center">Read more</a>
            </div>
            <div class="w-full md:w-1/2 p-4 mb-12">
                <img src="https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?w=800" class="block w-full h-auto mb-12" />
                <a href="#" class="block text-2xl text-black dark:text-white  text-center mb-6">What's New?</a>
                <p class="mb-6 text-center leading-relaxed text-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <a href="#" class="block text-indigo-500 text-center">Read more</a>
            </div>
        </div>
    </div>
    <_FooterDarkGray></_FooterDarkGray>
</body>



@code {

}

