
<body class="font-sans">
        <div class="w-full h-screen relative text-white">
            <img src="https://images.unsplash.com/photo-1506452819137-0422416856b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3173&q=80" class="absolute top-0 left-0 w-full h-full object-cover" />
            <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center text-center px-12">
                <div>
                    <h2 class="text-3xl font-bold md:text-6xl leading-tight mb-16 animate__animated animate__slideInLeft duration-500">{"Hello</h2>
                    <h2 class="text-3xl font-bold md:text-6xl leading-tight mb-16 animate__animated animate__slideInRight duration-500">World"};</h2>
                </div>
            </div>
        </div>
        <div class="py-24 px-6 bg-gray-200 text-black dark:bg-black dark:text-white ">
            <div class="max-w-6xl mx-auto mb-12">
                <h1 class="mx-auto text-center text-2xl md:text-5xl max-w-3xl leading-tight mb-12">Professional Full Stack .NET Developer Committed to Creating User-Friendly Websites.</h1>
                <p class="mb-6 mx-auto max-w-xlg text-center text-lg leading-relaxed">
                    <strong>Welcome to my portfolio!</strong> My name is LightningBits and I am a full stack .NET developer specializing in web design.
                    I have a passion for creating intuitive and visually appealing websites that provide a seamless user experience.
                    As a full stack .NET developer with a focus on web design, I am passionate about creating visually appealing and user-friendly websites.
                    My expertise in .NET, C#, HTML, CSS, and frameworks such as ASP.NET core allow me to create dynamic and responsive websites.
                    Additionally, my experience in front-end technologies like HTML, CSS, and Blazor allows me to deliver beautiful and functional websites that meet clients' needs. I am detail-oriented, proactive, and constantly stay up-to-date with the latest technologies and best practices. I take pride in delivering high-quality results on time and on budget.
                    I would be honored to work with you to bring your vision to life.
                </p>
                <p class="mx-auto max-w-lg text-center leading-relaxed">check out my Repository on <a href="https://github.com/LightningBit/E-Commerce" class="text-indigo-500">GitHub</a></p>
            </div>
            <div class="max-w-5xl mx-auto flex flex-wrap items-start">
                <div class="w-full md:w-1/2 p-4 mb-12">
                    <img src="https://images.unsplash.com/photo-1510511459019-5dda7724fd87?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80" class="block w-full h-auto mb-12" />
                    <a href="/about" class="block text-2xl  text-black dark:text-white  text-center mb-6">Full Stack ops</a>
                    <p class="mb-6 text-center leading-relaxed text-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                    <a href="#" class="block text-indigo-500 text-center">Read more</a>
                </div>
                <div class="w-full md:w-1/2 p-4 mb-12">
                    <img src="https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80" class="block w-full h-auto mb-12" />
                    <a href="/about" class="block text-2xl text-black dark:text-white  text-center mb-6">What's New?</a>
                    <p class="mb-6 text-center leading-relaxed text-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                    <a href="#" class="block text-indigo-500 text-center">Read more</a>
                </div>
            </div>
            <div class="max-w-5xl mx-auto flex flex-wrap justify-center">
                <div class="w-full md:w-1/2 p-4 mb-12">
                    <img src="/img/myHeadShot.jpeg" alt="image" class="block w-full h-auto mb-12" />
                    <a href="/about" class="block text-2xl  text-black dark:text-white  text-center mb-6">About me</a>
                    <p class="mb-6 text-center leading-relaxed text-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                    <a href="#" class="block text-indigo-500 mb-5 text-center">Read more</a>
                    <a href="https://www.linkedin.com/in/rafael-morel-1b28aa15a/" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-full">
                        Visit my LinkedIn page
                    </a>
                </div>
            </div>
        </div>
        <_FooterDarkGray></_FooterDarkGray>
</body>



@code {


}

