

<div class="dark:bg-black bg-gray-300 p-4 grid grid-cols-1 md:grid-cols-4 md:grid-rows-2 gap-4 md:h-screen">
    <div class="h-64 md:h-auto md:col-span-2 md:row-span-2 relative">
        <a href="#">
            <img src="https://images.unsplash.com/photo-1612122084482-aea2a40a3ed2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NnxRSGVaUHlPcHBjY3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60" class="absolute inset-0 w-full h-full object-cover">
        </a>
    </div>
    <div class="dark:text-white text-gray-700 text-center md:col-span-2 flex items-center justify-center">
        <div class="relative z-10 p-12">
            <div class="uppercase text-sm text-gray-700 tracking-widest">Only the best </div>
            <h3 class="font-display font-semibold text-3xl mt-2">Thrifting Services</h3>
            <p class="mt-3 mx-auto max-w-md">The perfect thrift with a little help from our friends.</p>
            <a href="/ProductsHome" class="inline-block bg-indigo-500 text-white text-sm tracking-widest font-heading px-8 py-4 mt-6">Shop now</a>
        </div>
    </div>
    <div class="h-64 md:h-auto col-span-1 row-span-1 relative">
        <a href="#">
            <img src="https://images.unsplash.com/photo-1584962119638-92a71b026dee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OXxRSGVaUHlPcHBjY3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60" class="absolute inset-0 w-full h-full object-cover">
        </a>
    </div>
    <div class="h-64 md:h-auto col-span-1 row-span-1 relative">
        <a href="#">
            <img src="https://images.unsplash.com/photo-1523901839036-a3030662f220?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHxRSGVaUHlPcHBjY3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60" class="absolute inset-0 w-full h-full object-cover">
        </a>
    </div>
</div>


@code {

}

