<div x-data="{showMenu: false}" class="h-24 z-40 relative container mx-auto px-6 flex items-center justify-between">
</div>
<div x-data="slideshow()" x-init="init()" class="-mt-32 relative w-full h-screen flex items-center justify-center">
    <div class="relative z-10 text-center text-white px-6">
        <h1 class="text-3xl md:text-5xl font-display font-semibold mt-2">Thrift Boss</h1>
        <div class="max-w-sm mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
            <a href="/products" class="inline-block bg-indigo-500 text-sm tracking-widest font-heading px-8 py-4">Thrift now</a>
            <a href="@($"{LocalHost}/Home")"  class="inline-block bg-gray-100 text-indigo-500 text-sm tracking-widest font-heading px-8 py-4">My Blog</a>
        </div>
        <p class="mt-4">A unique layout with a striking design</p>

    </div>
    <img x-bind:src="images[current]" class="w-full h-full absolute inset-0 object-cover opacity-95">
</div>

@code {
    private string LocalHost = "https://myblog.lightningbits.net";

}

