    <div class="max-w-5xl mx-auto pt-20 p-8 flex justify-end">
        <a href="/productsHome">
            <h1 class="font-display-italic bg-white text-black dark:text-white dark:bg-black text-center font-extrabold text-5xl md:text-6xl italic leading-none mb-6 max-w-xl">Products.</h1>
        </a>
    </div>

@code {

}

