@page "/register"


    <div class="min-h-screen w-full p-6 flex justify-center items-center">
        <div class="w-full max-w-sm">
            <div class="bg-white text-black border p-4 shadow rounded w-full mb-6">
                <h1 class="mb-6 text-lg text-black font-bold">Registration Form</h1>
                <EditForm Model="SignUpRequest" OnValidSubmit="RegisterUser" class="pt-4">
                    <DataAnnotationsValidator />
                    <fieldset class="mb-2">
                        <MudInput @bind-Value="SignUpRequest.Name"  Style="text-decoration-color:inherit" class="form-control black-text"/>
                        <MudInputLabel class="block text-sm mb-2">Name</MudInputLabel>
                    </fieldset>
                    <fieldset class="mb-2">
                        <MudInput @bind-Value="SignUpRequest.Email" type="text" class="form-control black-text" />
                        <MudInputLabel class="block text-sm mb-2">Email</MudInputLabel>
                    </fieldset>
                    <fieldset class="mb-2">
                        <MudInput @bind-Value="SignUpRequest.PhoneNumber" type="text" class="form-control black-text" />
                        <MudInputLabel class="block text-sm mb-2">Phone Number</MudInputLabel>
                    </fieldset>
                    <fieldset class="mb-2">
                        <MudInput @bind-Value="SignUpRequest.Password" type="password" id="password" class="form-control black-text" />
                        <MudInputLabel class="block text-sm mb-2">Password</MudInputLabel>
                    </fieldset>
                    <fieldset class="mb-6">
                        <MudInput @bind-Value="SignUpRequest.ConfirmPassword" type="password" id="confirm" class="form-control black-text" />
                        <MudInputLabel class="block text-sm mb-2">Confirm Password</MudInputLabel>
                    </fieldset>
                    <MudButton ButtonType="ButtonType.Submit" FullWidth="true" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto pb-2">Register Now</MudButton>
                    @if (ShowRegistrationErrors)
                    {
                        <div>
                            @foreach (var error in Errors)
                            {
                                <p class="text-red text-center">@error</p>
                            }
                        </div>
                    }
                    <ValidationMessage For="(()=>SignUpRequest.Name)" />
                    <ValidationMessage For="(()=>SignUpRequest.Email)" />
                    <ValidationMessage For="(()=>SignUpRequest.PhoneNumber)" />
                    <ValidationMessage For="(()=>SignUpRequest.Password)" />
                    <ValidationMessage For="(()=>SignUpRequest.ConfirmPassword)" />
                </EditForm>
            </div>
            <p class="text-center text-sm text-white font-thin">Already have an account? <a href="/login" class="text-indigo-500 no-underline hover:underline">Login</a></p>
        </div>
    </div>


