@page "/BlueLemonZ/"

<div x-data="{showMenu: false}" class="h-24 z-40 relative container mx-auto px-6 flex items-center justify-between text-white">
</div>
<BlueLemonZLandingImage></BlueLemonZLandingImage>