@page "/stefmancia"

<PageTitle>Stef Mancia</PageTitle>
<section class="relative min-h-screen bg-[url(https://images.unsplash.com/photo-1628181080699-0f81c68d9934?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)] bg-cover bg-center bg-no-repeat">
    <div class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 bg-gradient-to-r"></div>
    <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8">
        <div class="max-w-xl text-gray-600 text-bold text-center text-left">
            <MudText Typo="Typo.h1" Style="font-family: 'Allura', cursive;">Stefania Mancia</MudText>
            <p class="mt-4 max-w-lg sm:text-xl/relaxed">
                Welcome to our collection of remarkable medical insights.
                Explore the numerous publications crafted by our expert medical writer.
            </p>

            <div class="mt-8 flex flex-wrap justify-center gap-4">
                <a href="/stefmancia/portfolio"
                   class="block rounded bg-gray-600 px-12 py-3 text-sm font-medium text-white shadow-md hover:bg-gray-800 focus:outline-none focus:ring active:bg-gray-600 sm:w-auto">
                    Portfolio
                </a>
                <a href="/stefmancia/about"
                   class="block rounded bg-gray-200 px-12 py-3 text-sm font-medium text-gray-700 shadow-md hover:bg-gray-300 focus:outline-none focus:ring active:text-gray-600 sm:w-auto">
                    About me
                </a>
            </div>
        </div>
    </div>
</section>

