@page "/"
@inject ILocalStorageService localStorage
@using BlogCart.Pages.LandingPage

<div x-data="{showMenu: false}" class="h-24 z-40 relative container mx-auto px-6 flex items-center justify-between text-white">
</div>
<LandingImage></LandingImage>
<AboutUsBanner></AboutUsBanner>
<MainProductsMosiac></MainProductsMosiac>
<BlogBanner></BlogBanner>
<MainServices></MainServices>
<TestimonialQuotes></TestimonialQuotes>
<SecondaryServices></SecondaryServices>
<_FooterDarkGray></_FooterDarkGray>

@code {
    private string LocalHost = "https://myblog.lightningbits.net";
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}

